Raspi/NodeRed/flows.json
[{"id":"26629227.1b6b4e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a70a69f3.9b5a38","type":"mqtt in","z":"26629227.1b6b4e","name":"MatchX Cloud MQTT","topic":"#","qos":"2","datatype":"json","broker":"5ba66f7f.be649","x":120,"y":100,"wires":[["be860696.207518","4d6e7b2a.81e2a4"]]},{"id":"be860696.207518","type":"debug","z":"26629227.1b6b4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":120,"wires":[]},{"id":"4d6e7b2a.81e2a4","type":"function","z":"26629227.1b6b4e","name":"Node Name Return","func":"// Return Node's Name\n\nvar Name = msg.payload.nodeName;\n//msg.payload = Name;\nmsg.topic = Name;\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["2f05ee6f.c69c62"]]},{"id":"a0f758ec.309c98","type":"inject","z":"26629227.1b6b4e","name":"MatchX Test Packet","topic":"","payload":"{\"applicationID\":\"24\",\"applicationName\":\"LoRaWAN-Test1\",\"nodeName\":\"LoRaware_1\",\"devEUI\":\"7615064722431272\",\"rxInfo\":[{\"mac\":\"40d63cfffe021652\",\"time\":\"2019-09-29T04:42:17.969992Z\",\"rssi\":-63,\"loRaSNR\":9,\"name\":\"MX5JS4UYZ\",\"latitude\":32.94985,\"longitude\":-117.01872,\"altitude\":177}],\"txInfo\":{\"frequency\":904300000,\"dataRate\":{\"modulation\":\"LORA\",\"bandwidth\":125,\"spreadFactor\":8},\"adr\":false,\"codeRate\":\"4/5\"},\"fCnt\":14,\"fPort\":1,\"data\":\"IDMuMjY4LDgwLjU0Niw1MS4wMTgsLTk5OS4wMCwtOTk5LjAw\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["4d6e7b2a.81e2a4"]]},{"id":"2f05ee6f.c69c62","type":"function","z":"26629227.1b6b4e","name":"MatchX Data","func":"// Return Base 64 Encoded Data Stream\n\nvar dataEnc = msg.payload.data;\nvar SNR = msg.payload.rxInfo[0].loRaSNR;\nmsg.payload.dataEnc = dataEnc;\nmsg.payload.SNR = SNR;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":180,"wires":[["3d77697e.b772f6"]]},{"id":"b1149e04.9a30c","type":"debug","z":"26629227.1b6b4e","name":"Decoded Data Array","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":240,"wires":[]},{"id":"3d77697e.b772f6","type":"base64","z":"26629227.1b6b4e","name":"","action":"b64","property":"payload.dataEnc","x":280,"y":260,"wires":[["1c883d02.f08a33"]]},{"id":"1c883d02.f08a33","type":"function","z":"26629227.1b6b4e","name":"Data Filtering","func":"// Converts Decoded String into Array of Values\n// Then converts Array into ordered JSON Object\n// Note: Conditionals omit any inconclusive HR or O2 readings\n\n// to be sent to InfluxDB with Measurement = Node Name\n\nvar dataArr = msg.payload.dataEnc.split(',');\nvar SNR = msg.payload.SNR;\n\nif ((dataArr[3] == \"-999.00\") && (dataArr[4] == \"-999.00\")){\n    msg.payload = {\n        //numValue: 123.0,\n        //strValue: \"message\",\n        //randomValue: Math.random()*10\n        BattVolt: parseFloat(dataArr[0]),\n        Temp: parseFloat(dataArr[1]),\n        Hum: parseFloat(dataArr[2]),\n        //HR: parseFloat(dataArr[3]),\n        //O2: parseFloat(dataArr[4]),\n        SNR: SNR\n    }\n}\n\nelse if (dataArr[3] == \"-999.00\"){\n    msg.payload = {\n        //numValue: 123.0,\n        //strValue: \"message\",\n        //randomValue: Math.random()*10\n        BattVolt: parseFloat(dataArr[0]),\n        Temp: parseFloat(dataArr[1]),\n        Hum: parseFloat(dataArr[2]),\n        //HR: parseFloat(dataArr[3]),\n        O2: parseFloat(dataArr[4]),\n        SNR: SNR\n    }\n}\n\nelse if (dataArr[4] == \"-999.00\"){\n    msg.payload = {\n        //numValue: 123.0,\n        //strValue: \"message\",\n        //randomValue: Math.random()*10\n        BattVolt: parseFloat(dataArr[0]),\n        Temp: parseFloat(dataArr[1]),\n        Hum: parseFloat(dataArr[2]),\n        HR: parseFloat(dataArr[3]),\n        //O2: parseFloat(dataArr[4]),\n        SNR: SNR\n        \n    }\n}\nelse {\n    msg.payload = {\n        //numValue: 123.0,\n        //strValue: \"message\",\n        //randomValue: Math.random()*10\n        BattVolt: parseFloat(dataArr[0]),\n        Temp: parseFloat(dataArr[1]),\n        Hum: parseFloat(dataArr[2]),\n        HR: parseFloat(dataArr[3]),\n        O2: parseFloat(dataArr[4]),\n        SNR: SNR\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["f0dbe18b.c36d3","b1149e04.9a30c"]]},{"id":"efa88eaa.fe343","type":"debug","z":"26629227.1b6b4e","name":"Cleaned Data","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":480,"wires":[]},{"id":"f0dbe18b.c36d3","type":"switch","z":"26629227.1b6b4e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"LoRaware_1","vt":"str"},{"t":"eq","v":"LoRaware_2","vt":"str"},{"t":"eq","v":"LoRaware_3","vt":"str"},{"t":"eq","v":"LoRaware_4","vt":"str"},{"t":"true"}],"checkall":"true","repair":false,"outputs":5,"x":380,"y":360,"wires":[["c7af6389.e19eb"],["97432121.56d87"],["c2325e33.1ae6d"],["dbedd0ab.a4c14"],["efa88eaa.fe343"]]},{"id":"c7af6389.e19eb","type":"influxdb out","z":"26629227.1b6b4e","influxdb":"c89bedb1.fdad6","name":"influx-LoRaware_1","measurement":"LoRaware_1","precision":"s","retentionPolicy":"","x":590,"y":320,"wires":[]},{"id":"97432121.56d87","type":"influxdb out","z":"26629227.1b6b4e","influxdb":"e86cce09.b513","name":"influx-LoRaware_2","measurement":"LoRaware_2","precision":"s","retentionPolicy":"","x":590,"y":360,"wires":[]},{"id":"c2325e33.1ae6d","type":"influxdb out","z":"26629227.1b6b4e","influxdb":"b3dabd90.45a54","name":"influx-LoRaware_3","measurement":"LoRaware_3","precision":"s","retentionPolicy":"","x":591,"y":401,"wires":[]},{"id":"dbedd0ab.a4c14","type":"influxdb out","z":"26629227.1b6b4e","influxdb":"6d3c29fa.d2bb68","name":"influx-LoRaware_4","measurement":"LoRaware_4","precision":"s","retentionPolicy":"","x":591,"y":441,"wires":[]},{"id":"5ba66f7f.be649","type":"mqtt-broker","z":"","name":"MatchX Cloud MQTT","broker":"usx.matchx.io","port":"8883","tls":"360275b5.1b681a","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c89bedb1.fdad6","type":"influxdb","z":"","hostname":"192.168.8.131","port":"8086","protocol":"http","database":"LoRaware_1","name":"","usetls":false,"tls":"360275b5.1b681a"},{"id":"e86cce09.b513","type":"influxdb","z":"","hostname":"192.168.8.131","port":"8086","protocol":"http","database":"LoRaware_2","name":"","usetls":false,"tls":"360275b5.1b681a"},{"id":"b3dabd90.45a54","type":"influxdb","z":"","hostname":"192.168.8.131","port":"8086","protocol":"http","database":"LoRaware_3","name":"","usetls":false,"tls":"360275b5.1b681a"},{"id":"6d3c29fa.d2bb68","type":"influxdb","z":"","hostname":"192.168.8.131","port":"8086","protocol":"http","database":"LoRaware_4","name":"","usetls":false,"tls":"360275b5.1b681a"},{"id":"360275b5.1b681a","type":"tls-config","z":"","name":"MatchX Cloud Server","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"ca.crt","servername":"usx.matchx.io","verifyservercert":false}]